---
interface Props {
	class?: string;
}
const { class: className = '' } = Astro.props;
---

<div class="flex items-center">
	<span class="relative inline-flex overflow-hidden rounded-full p-[2px]">
		<span
			class="absolute inset-[-1000%] animate-[spin_3s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#1ad1ff_0%,#0a7ea4_50%,#1ad1ff_100%)]"
		></span>
		<div
			class={`inline-flex items-center justify-center w-full px-4 py-1.5 text-sm rounded-full bg-dark text-white/80 font-bold backdrop-blur-3xl whitespace-nowrap ${className}`}
		>
			<slot />
		</div>
	</span>
</div>
