---
const { isDark = false, isLigth = false, isCol = false, isBlur = false, isCenter = false, hasBorder = true, class: className } = Astro.props;
---

<section class:list={["text-light my-5", className]}>
	<div class:list=
	{[
		"relative container mx-auto flex justify-center px-4 sm:px-8 rounded-2xl shadow-lg border border-slate-800 z-2",
		isBlur ? "backdrop-blur-[5px] bg-[#171e2d62]" : "",
		isDark ? "bg-[#161b22] text-light" : "",
		isLigth ? "bg-white text-dark" : "",
		isCol ? "flex-col py-8" : "flex-row py-4",
		isCenter ? "text-center" : "items-left text-left",
		hasBorder ? "hover:border-[var(--color-primary)] transition-all duration-350" : "border-slate-800"
	]}>
		<slot />
	</div>
</section>
